.qingshu {
  position: absolute;
  border-radius: 40px;
  border: 2px solid wheat;
  top: 10vw;
  left: 25vw;
  width: 55vw;
  height: 0vw;
  box-shadow: 0 0 5px 1px gray;
  background-color: rgb(243, 223, 223);
  overflow: hidden;
  animation: qingruchang 8s ease-in-out forwards;
  animation-delay: 1.3s;
}
.qingshubeijing {
  opacity: 0;
  animation: beijingruchang 0.5s ease-in-out forwards;
  animation-delay: 1.3s;
}
@font-face {
  font-family: "zhengkai";
  src: url(./huangkaihuaLawyerfont-2.ttf);
}
.chars2 {
  font-family: zhengkai;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  top: 60px;
  width: 50vw;
  left: 2.5vw;
}
.chars1 {
  position: absolute;
  top: 10px;
  left: 22vw;
}
.chars3 {
  position: absolute;
  bottom: 1vw;
  right: 5vw;
  opacity: 0;
  width: 5vw;
  animation: chars3 0.5s ease-in-out forwards;
  animation-delay: 8s;
}
.next1 {
  position: absolute;
  right: 8vw;
  border: 0;
  bottom: 0vw;
  padding: 5px;
  border-radius: 40px;
  animation: next1 8.6s ease-in-out forwards;
  animation-delay: 0.9s;
  opacity: 1;
}
.qingtuichang {
  animation: qingtuichu 1.5s ease-in-out forwards;
}
.next {
  font-family: ziti;
  font-size: 25px;
  border: 2px solid grey;
  padding: 5px;
  border-radius: 40px;
  box-shadow: 0 0 5px 1px gray;
  opacity: 0;
  animation: chars4 0.5 ease-in-out forwards;
  animation-delay: 8.6s;
}
.ruchang1 {
 
  width: 100vw;
  height: 0vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(https://telegraph-image-12m.pages.dev/file/4e52350f7949eacae319e.jpg);
  animation: ruchang1 5s ease-in forwards;
  animation-delay: 0.8s;
}
